.bestwrap { background-color: #212226;}
.bestwrap .mx-auto > h2 { font-family: 'Urbanist' !important; font-size: 40px; font-weight: normal !important; color: white; padding-top: 60px; padding-bottom: 10px;}
.bestwrap .mx-auto > h2 span { font-weight: 600 !important;}
.bestwrap .mx-auto > p { font-family: 'Pretendard' !important; color: white; font-size: 14px; font-weight: 200 !important;}