.businesswrap { background-color: #f8f9fa;}
.businesswrap .mx-auto > h2 { display: inline-block; padding-top: 60px; font-family:'Urbanist' !important; font-size: 40px; font-weight: 500 !important; background-image: linear-gradient(270deg, #1369BF 6.07%, #1168BC 92.77%); background-clip: text; -webkit-text-fill-color: transparent; }
.businesswrap .mx-auto > h2 img { width: 85%;}
.worldmapwrapper { overflow: hidden;}
#svg--worldmap { width: 100%; height: 100%; object-fit: cover;}