.contact h2 { font-size: 1.4rem; padding-top: 3rem; padding-bottom: 1rem; }
.contact p { color: rgba(46,46,46,.4); padding-bottom: 3rem; }
.contact .contactcon { height: 800px; }
.contact .contactcon .mapwrap { width: 60%; height: 80%; border: 1px solid black; border-radius: 1rem; }