#mapinfo { background-color: #f6f6f4;}
path.OUTLINE { fill: #e5e5e5; border: 1px solid white; transition: all .4s; cursor: pointer;}

text { font-family: 'Pretendard' !important; font-size: 0.8rem;}
.whitetext { fill: white;}
.bg {fill: #faa74a !important;}
