.mapmain { background-color: #f5f5f5;}
.mapinfo > h2 { font-family: 'Pretendard' !important; font-size: 30px; padding-top: 90px; line-height: 1.2; font-size: #455052; font-weight: 300 !important;}
.mapinfo > h2 > span { font-weight: 600 !important;}
.mapinfo > p {font-family: 'Pretendard' !important; font-size: 15px; font-weight: 200 !important; padding-top: 20px; padding-bottom: 60px;}
#maptabs { display: flex; width: 100%; flex-wrap: wrap;}
#tabscon { margin-top: 50px;}
.mapinfo,.realmap { width: 50%;}
.realmap { display: flex; align-items: center;}
.flex { display: flex !important;}
.rotate { animation-name: spin; animation-duration: 5s; animation-iteration-count: infinite; animation-timing-function: linear; transform-origin: center;}

@keyframes spin { from { transform: rotate(0deg);} to { transform: rotate(360deg);}}