.mapmain { background-color: #f5f5f5;}
.mapinfo > h2 { font-family: 'Pretendard' !important; font-size: 30px; padding-top: 90px; line-height: 1.2; font-size: #455052; font-weight: 300 !important;}
.mapinfo > h2 > span { font-weight: 600 !important;}
.mapinfo > p {font-family: 'Pretendard' !important; font-size: 15px; font-weight: 200 !important; padding-top: 20px; padding-bottom: 60px;}
.mapinfo,.realmap { width: 50%;}
.flex { display: flex !important;}