@charset "utf-8";
@media (max-width: 1920px) {
    .modal .btns button:hover { background-color: #000; color: #fff; }
}
@media (max-width: 1410px) {
    .footer .right_side .mainmenu > ul > li > a {
        padding: .9rem 2.1rem !important;
    }
}
@media (max-width: 1280px) {
    .Allslider #mainslide .swiper-slide .imgwrap img { max-width: 500px !important; }
    .texteng { font-size: 50px !important; }
    .textkor { font-size: 40px !important; }
    .resbus .resbus_wrap .select { width: 30% !important; margin-right: 16px; }
    .resbus .resbus_wrap button[type="submit"] { width: 15% !important; }
    .regionshows {
        height: 20%;
    }
    .regionshows li {
        width: 26% !important;
    }
    .infoshow li .bustype {
        display: none !important; 
    }
    .infoshow li {
        justify-content: center;
        text-align: left;
    }
    .infoshow li .busr {
        text-align: center;
        height: 25px; 
        overflow-y: auto;
    }
    .infoshow li .busr div:last-child {
        margin: 0 !important;
    }
    .mapwrap {
        width: 60%;
    }

    .rolldown > button { display: none; }
    .rolldown .smallmenu { border: 1px solid #000; margin-top: 1rem; height: 400px !important; padding: 0 1rem !important; overflow-y: auto !important; background-color: transparent !important;}
    .rolldown .smallmenu li {text-align: right; margin: 1rem 0 !important; display: flex; justify-content: space-between; align-items: center;}
    .rolldown .smallmenu li::before { content: '\F633'; font-family: 'bootstrap-icons' !important; display: inline-block; width: 26px;
        border-radius: 50%; background-color: white; border: 1px solid black; text-align: center; line-height: 24px; opacity: .4; }
    .rolldown .smallmenu li.truetrue::before { background-color: black; opacity: 1; border: none; color: white;}
    .rolldown .smallmenu li button { padding: .4rem 0 !important; color: black !important; font-size: .95rem !important; text-align: right; opacity: .4; }
    .footer .right_side .mainmenu > ul > li > a { padding: .9rem 1.6rem !important; }
}
@media (max-width: 1110px) {
    .footer .right_side .mainmenu > ul > li > a { padding: .9rem 1.3rem !important; }
    .footer .right_side .mainmenu > ul > li .smallmenu a { font-size: .7rem !important; }
}

@media (max-width: 1024px) {
    header {
        height: 70px;
    }

    .mobile__allmenu .mobile__menu .mx-auto > ul > li > button { font-size: 2.1rem; }

    .Allslider #mainslide .swiper-slide .imgwrap img { max-width: 450px !important; }

    .texteng { font-size: 40px !important; }
    .textkor { font-size: 30px !important; }
    .Allslider #mainslide .swiper-slide .textwraps { left: 60% !important; }

    .resbus {
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(0) !important;
    }
   
    .resbus_wrap { 
        border-radius: 0 !important;
    }
    .bustab button::after {
        top: 86%;
        transform: rotate(180deg);
        z-index: 30 !important;
        
    }
    .gbus .gbuscon { flex-direction: column; height: auto !important; }
    .gbus .gbuscon .regioncheck { width: 100% !important; margin-bottom: 1rem !important; }
    .gbus .gbuscon .regioncheck .rolldown .smallmenu {  border: none !important; border-bottom: 1px solid rgba(0,0,0,.2) !important; position: static !important; display: flex !important; height: auto !important; margin-top: 0 !important;  }
    .gbus .gbuscon .regioncheck .rolldown { width: 100% !important; }
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li { margin: 0 !important; flex: 1; display: flex; justify-content: center; }
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li > button:hover { color: #e6007e !important; opacity: 1 !important;  border-bottom: 1px solid #e6007e; }
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li:before { content: none !important;  }
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li:nth-child(2),
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li:nth-child(3),
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li:nth-child(4),
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li:nth-child(6),
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li:nth-child(8) { display: none !important;}
    .gbus .gbuscon .regioncheck .rolldown .smallmenu > li > button { width: 100% !important; text-align: center !important; }
    .gbus .gbuscon .bustab .tabone li button {  border-radius: 0 !important; font-size: .75rem !important; padding: .55rem .6rem !important; width: 107px !important; }
    .gbus .gbuscon .bustab { width: 100% !important; }
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide .imgpart .imgwrap { width: 100% !important; height: 80px !important; margin-bottom: 0 !important;}
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide .imgpart .textregion { font-size: .75rem !important; padding-top: 10px !important;}
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide .imgpart .textadd { font-size: .55rem !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .rolldown .smallmenu li:before { width: 40px !important; height: 17px !important; line-height: 17px !important; font-size: 10px !important; }
    .contact .contactcon .realform button { width: 100% !important; }
    .contact .contactcon .mapwrap .forms { left: 3% !important; }
    .contact .contactcon .mapwrap .forms button[type="submit"] { right: 17px !important; }
    .contact .contactcon { flex-direction: column !important; }
    .mapwrap { height: 320px !important; width: 100% !important;}
    .mapwrap .map svg {transform: translateY(-35px) translateX(-15px);}
    .realform { width: 100% !important; margin-top: 3rem; }
    .right_side { width: 90% !important; }
    .businesscon > ul { flex-wrap: wrap; }
    .businesscon > ul > li { width: 40% !important; margin-bottom: 3rem; }
    .business .businesscon ul li.btnover { width: 41% !important; }
    .hidden { display: none !important; }
    .forms form input[type="text"] { width: 400px !important; }
    .contact .contactcon .mapwrap .forms .search_algorithm { width: 400px !important; }
    .contact .contactcon .mapwrap .forms .search_algorithm.algoon { width: 400px !important;}

}

@media (max-width: 990px) {
    .footer .right_side .mainmenu > ul > li > a { font-size: .75rem !important; }
}

@media (max-width: 920px) {
    .footer .left_side { width: 22% !important; }
    .footer .left_side .telwrap { font-size: .6rem !important; }
}

@media (max-width: 780px) {
    .footer .right_side .mainmenu > ul > li > a { padding:.9rem !important; }
}

@media (max-width: 768px) {
    .mobile__allmenu .mobile__menu .mx-auto > ul > li > button { font-size: 1.8rem; }

    .Allslider #mainslide .swiper-slide .imgwrap img { max-width: 400px !important; }

    .Allslider #mainslide .swiper-slide .imgwrap  { left: unset !important; right: 0; }

    .Allslider #mainslide .swiper-slide .textwraps { left: 10% !important; }

    .br_768 {
        display: block;
        line-height: 1.1;
    }
    .zdown {
        z-index: -1;
    }
    .resbustab {position: fixed !important; bottom: 50px !important;left: 85% !important;transform: translateX(-50%) !important; z-index: 50 !important;}
    .resbustab button { border-radius: 50% !important; }
    .resbustab button svg { margin: 0 !important;}
    .resbustab.oo { left: 50% !important; bottom: 500px !important;}
    .resbus_wrap{
        background-color: black !important;
    }
    .resbus_wrap form {
        flex-direction: column;
        justify-content: center !important;
        gap: 45px;
    }
    .resbus_wrap form h2 {
        margin: 0 !important;
        color: white !important;
    }
    .resbus .resbus_wrap .select { width: 100% !important; margin-right:0 }
    .resbus .resbus_wrap button[type="submit"] { width: 100% !important; }
    .Allslider #mainslide .swiper-slide:last-child .imgwrap img { max-width: 200px !important;}
    .bestbus h2 { padding-top: 5rem !important;}
    .footer .left_side .telwrap > div > span:first-child { margin-right: .5rem !important; }
    .districon { flex-direction: column; }
    .shows { width: 100% !important; }
    .busr { width: 100% !important; display: flex !important;}
    .busr > div { display: inline-block !important; width: 33.3%; text-align: left !important;}
    .map > svg {transform: translateY(-20%) scale(.7) !important;}
    .businesscon > ul > li { width: 70% !important; margin-bottom: 3rem; }
    .business .businesscon ul li.btnover { width: 71% !important; }
    .modal { width: 250px !important; height: 350px !important; }
    .modal .btns button { font-size: .7rem !important; }
    .max-w-screen-ssm {
        max-width: 660px;
    }
}
@media (max-width: 680px) {
    .footer .right_side .mainmenu > ul > li .smallmenu a { font-size: .5rem !important; }
    .footer .right_side .mainmenu > ul > li > a { font-size: .55rem !important; }
    .footer { flex-direction: column; align-items: center; height: 450px;}
    .mainmenu > ul { justify-content: center !important;}

}

@media (max-width: 640px) {
    .mobile__allmenu .mobile__menu .mx-auto > ul > li > button { font-size: 1.5rem; }
    .mobile__allmenu .mobile__menu .mx-auto > ul > li > button + .mobile__sub a { font-size: 1.5rem; }
    .Allslider #mainslide .swiper-slide .textwraps { top: 20%; }
    .gbus .gbuscon .regioncheck .rolldown .smallmenu { right: -50px !important;}
    .gbus .gbuscon .bustab .tabone li { width: 19% !important;}
    .gbus .gbuscon .bustab .tabone li button { flex-direction: column; }
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-wrapper { animation: none !important; }
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide .imgpart .textregion { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
    .mapwrap .map svg { transform: translateY(-10%) translateX(-3%) scale(.8) !important; }
    .max-w-screen-xssm {
        max-width: 460px;
    }
}

@media (max-width: 540px) {
    .footer { padding: 1rem !important; }
    .right_side { width: 100% !important; }
    .footer .right_side .mainmenu > ul > li > a { font-size: .75rem !important; }
}

@media (max-width: 510px) {
    .footer .right_side .mainmenu > ul > li > a { font-size: .6rem !important; }
}


@media (max-width: 460px) {
    .gbus .gbuscon .bustab .tabone li { width: 15% !important; margin-right: 1rem !important; }
    .gbus .gbuscon .bustab .tabone li button { border: none !important; display: flex !important; justify-content: center !important; align-items: center; padding: 0 !important;}
    .gbus .gbuscon .bustab .tabone li button span:first-child { display: none;}
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide { margin-right: 15px !important; }
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide .imgwrap::after { content: none !important; }
    .gbus .gbuscon .bustab .tabtwo #tabswiper .swiper-slide .imgwrap::before { content: none !important; }
    .rolldown .smallmenu li:before { content: none !important; }
    .rolldown .smallmenu li button { font-size: .85rem !important; }
    .infoshow { border: none !important; }
    .infoshow li { border: none !important; }
    .mapwrap .map { overflow: hidden; }
    .mapwrap .map svg { width: 154% !important; transform: translateY(-10%) translateX(-20%) scale(.8) !important; }
    .resbustab { left: 75% !important; z-index: 30 !important;}
    .busr > div:nth-child(3) { width: 60% !important; }
    .busr > div:nth-child(2) { display: none !important;}
    .storetabs > ul { flex-direction: column; justify-content: center; }
    .storetabs > ul > li { display: flex; justify-content: center; }
    .storetabs > ul > li > button { width: 110px; }
    .stores .storetabs ul li { padding: 0 !important; }
    .forms form input[type="input"] { width: 250px !important;}
    .max-w-screen-xxssm {
        max-width: 300px;
    }
}

@media (max-width: 440px) {
    .footer .right_side .mainmenu > ul > li > a { font-size: .5rem !important; }
}

@media (max-width: 400px) {
    .footer .right_side .mainmenu > ul > li > a { font-size: .4rem !important; }
}