@media (max-width: 1280px) {
    header {
        height: 105.6px;
    }
    .regionshows {
        height: 20%;
    }
    .regionshows li {
        width: 26% !important;
    }
    .infoshow li .bustype {
        display: none !important; 
    }
    .infoshow li {
        justify-content: center;
        text-align: left;
    }
    .infoshow li .busr {
        text-align: center;
        height: 25px; 
        overflow-y: auto;
    }
    .infoshow li .busr div:last-child {
        margin: 0 !important;
    }
    .mapwrap {
        width: 60%;
    }

    .rolldown > button { display: none; }
    .rolldown .smallmenu { border: 1px solid #000; margin-top: 1rem; height: 200px !important; padding: 0 1rem !important; overflow-y: auto !important; background-color: transparent !important;}
    .rolldown .smallmenu li {text-align: right; display: flex; justify-content: space-between; align-items: center;}
    .rolldown .smallmenu li::before { content: ''; display: inline-block; height: 19px; width: 19px; background-color: white; border: 1px solid black; border-radius: 50%; opacity: .4; }
    .rolldown .smallmenu li.truetrue::before { background-color: black; opacity: 1; border: none;}
    .rolldown .smallmenu li button { padding: .4rem 0 !important; color: black !important; font-size: .95rem !important; text-align: right; opacity: .4; }
    
}

@media (max-width: 1024px) {
    header {
        height: 70px;
    }

    .mobile__allmenu .mobile__menu .mx-auto > ul > li > a { font-size: 2.1rem; }

    .resbus {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(-33%);
    }
   
    .resbus_wrap { 
        border-radius: 0 !important;
    }
    .bustab button::after {
        top: 86%;
        transform: rotate(180deg);
        z-index: 30 !important;
        
    }
}

@media (max-width: 768px) {
    .mobile__allmenu .mobile__menu .mx-auto > ul > li > a { font-size: 1.8rem; }

    .br_768 {
        display: block;
        line-height: 1.1;
    }
    .zdown {
        z-index: -1;
    }
    .resbus_wrap{
        background-color: black !important;
    }
    .resbus_wrap form {
        flex-direction: column;
        justify-content: center !important;
        gap: 45px;
    }
    .resbus_wrap form h2 {
        margin: 0 !important;
        color: white !important;
    }
    .max-w-screen-ssm {
        max-width: 660px;
    }
}

@media (max-width: 660px) {
    .max-w-screen-xssm {
        max-width: 460px;
    }
}

@media (max-width: 460px) {
    .max-w-screen-xxssm {
        max-width: 360px;
    }
}

@media (max-width: 360px) {
    .max-w-screen-xxxssm {
        max-width: 240px;
    }
}