@charset "utf-8";
header {  z-index: 40; left: 0; right: 0;}
.logo a { display: block;}
.logo a img:last-child { display: none;}
.img1 { display: none !important; }
.img2 { display: inline-block !important; }
header.scrolled { background-color: white; box-shadow: 0 4px 4px 0 rgba(0,0,0,.25); }
header.scrolled .mainmenu > li > a { color: black !important; }
.mainmenu > li > a { padding: 2.4rem 3rem; display: block; font-family: 'Pretendard' !important; font-size: 1.2rem; color: white; }
.mainmenu .smallmn { padding: 16px 0; padding:0; left: 0; right: 0; text-align: center; font-family: 'Pretendard' !important; font-size: 18px; max-height: 0; min-height: 0; overflow: hidden; transition: all .6s;}
.mainmenu::after { content:''; z-index:-1; display: block; position: absolute; top: 0; left: 0; right: 0; overflow: hidden; max-height: 0; min-height: 0; background-color: white; transition: all .6s;}
.mainmenu .smallmn a { display: block; padding-bottom: 32px;  }
.mainmenu .smallmn li:last-child a { padding: 0; }
.mainmenu > li:hover > a { background-color: rgba(217,217,217,.2); color: #fd382c !important; border-bottom: 3px solid #fd382c; box-sizing: border-box; }
.mainmenu:hover::after { min-height: calc(100% + 315px);}
.mainmenu:hover > li > a { color: black; }
.mainmenu > li:hover .smallmn { background-color: rgba(217,217,217,.2);  }
.bd { border-bottom: 1px solid rgba(0,0,0,.2); }
.mainmenu:hover .smallmn { min-height: 315px; padding: 16px 0; }
.mobile__header span:last-child { color: white;}
.mobile__header span:first-child {display: block; width: 20px; height: 20px; display: flex; flex-wrap: wrap; gap: 4px; margin-right: 1rem; }
.mobile__header span:first-child div { width: 8px; height: 8px; background-color: white; }
header.scrolled .mobile__header span:last-child { color: black; }
header.scrolled .mobile__header span:first-child div { background-color: black; }
.mobile__allmenu { position: fixed; top: 0; bottom: 0; left: 0; right: 0; transform: translateX(100%); width: 100%; background-color: white; z-index: 100; transition: transform ease-in-out .4;}
.mobile__allmenu.over { transform: translateX(0);}
.mobile__allmenu .topimg { position: absolute; top: 0; left: 0; right: 0; height: 400px; background: url('https://i.imgur.com/QqDfbti.jpg') no-repeat center/cover; }
.mobile__allmenu .topimg::after { content: ''; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.3); }
.mobile__allmenu .topimg img { position: absolute; z-index: 100; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.mobile__allmenu .topimg button { position: absolute; z-index: 100; top: 8%; right: 8%; }
.mobile__allmenu .topimg button svg path { fill: #fff; }
.mobile__allmenu .mobile__menu { position: absolute; background-color: white; z-index: 60; overflow-y: scroll; left: 0; right: 0; top:400px; padding: 1.5rem; height: calc(100vh - 400px);}
.mobile__allmenu .mobile__menu .mx-auto > ul {display: inline-flex; flex-direction: column; position: relative;}
.mobile__allmenu .mobile__menu .mx-auto > ul > li { display: inline-block;  }
.mobile__allmenu .mobile__menu .mx-auto > ul > li > button { font-size: 2.5rem; padding-bottom: 2rem; font-family: 'Poppins' !important; display: inline-block; color: #b9b9b9; font-weight: 400 !important; letter-spacing: -3px; }
.mobile__allmenu .mobile__menu .mx-auto > ul > li > button.keke { color: #000; }
.mobile__allmenu .mobile__menu .mx-auto > ul > li { height: calc(100% / 6); }
.mobile__sub { margin-left: 50%; margin-top: 6%; left: 100%; top: 0; width: 100%; max-height: 0; min-height: 0; overflow: hidden; font-family: 'Pretendard' !important; font-size: 1.8rem; letter-spacing: -1px; font-weight: 800 !important;}
.mobile__allmenu .mobile__menu .mx-auto > ul > li > button.keke + .mobile__sub { min-height: 300px; min-width: 400px}
.mobile__allmenu .mobile__menu .mx-auto > ul > li >.mobile__sub a { padding-bottom: 2rem; display: block; ; }