.resbus { position: relative; transform: translateY(-130%); z-index: 40; opacity: 0; overflow: hidden; height: 0; }
.resbus.formon { opacity: 1; height: auto; overflow: visible; }
.resbus .resbus_wrap { background-color: white; padding: 0.85rem 3.7rem; box-shadow: 0 4px 4px 0 rgba(0,0,0,.25); border-radius: 60px; }
.resbus .resbus_wrap > form > h2 { font-size: 1.1rem; white-space: nowrap; margin-right: 4rem; letter-spacing: -1px; font-weight: 500 !important; }
.resbus .resbus_wrap .select { width: 25%; background-color: #fafafa; border: 2px solid rgba(0,0,0,.2); border-radius: 4px; overflow: hidden; }
.resbus .resbus_wrap .select button { padding: 8px 0; width: 50%;}
.resbus .resbus_wrap .select button.ons { background-color: black; color: white; }
.resbus .resbus_wrap button[type="submit"] { background-color: #DA293B;width: 9%;color: white;font-size: 16px;padding: 10px 0;border-radius: 8px; }

.resbustab .bustab { margin-top: 1rem;}
.resbustab .bustab li button { width: 125px; height: 125px; background-color: white; display: flex; flex-direction: column; align-items: center; justify-content: center; box-shadow: 0 4px 4px 0 rgba(0,0,0,.25); border-radius: 12px; }
.resbustab .bustab li button.btnon { background-color: #ff2f06; position: relative;}
.resbustab .bustab li button.btnon .svgwrap img:first-child { display: none;}
.resbustab .bustab li button.btnon .svgwrap img:last-child { display: inline;}
.resbustab .bustab li button.btnon .namewrap { color: white; font-weight: 600 !important; }
.resbustab .bustab li button.btnon::after { content: ''; width: 50px; height: 50px; clip-path:polygon(50% 0,0 100%,100% 100%); background-color:#ff2f06; position: absolute; bottom: 80%; z-index: -1;}
.resbustab .bustab li button .svgwrap { width: 45%; height: 45%; margin-bottom: 1rem; position: relative; }
.resbustab .bustab li button .svgwrap img { width: 100%; height: 100%; object-fit: contain; position: absolute; top: 0; left: 0;}
.resbustab .bustab li button .svgwrap img:last-child { display: none;}