.Allslider { width: 100%; height: 600px;}

.Allslider #mainslide { height: 100%; }
.Allslider #mainslide .swiper-slide { background-color: #0f0f10; position: relative;}
.Allslider #mainslide .swiper-slide .imgwrap img { max-width: 650px; width: 100%; height: auto; }
.Allslider #mainslide .swiper-slide .imgwrap{ display: inline-block; position: absolute; bottom: 0; left: 0; animation: pingpong 2s ease-in-out alternate infinite;}
@keyframes pingpong { from { transform: translateY(60px); } to {transform: translateY(0); }}