@charset "utf-8";
.stores h2 { padding-top: 100px; font-size: 1.4rem; padding-bottom: 1rem; }
.stores p { color: rgba(46, 46, 46, 0.4); padding-bottom: 2rem; }
.stores .storetabs { margin-bottom: 5rem; }
.stores .storetabs ul li { padding-right: 4rem;}
.stores .storetabs ul li button { padding:1rem 0; border-bottom: 1px solid rgba(0,0,0,.2); }
.stores .storetabs ul li:last-child button { padding:1rem 0; padding-right: 0;}
.stores .storetabs ul li button.storeon { color: #dd0711; border-bottom: 1px solid #dd0711; }

.stores .storecon .swiper-container { opacity: 0; height: 0; overflow: hidden; }
.stores .storecon .swiper-container.swiperon { opacity: 1; height: auto; }
.stores .storecon .swiper-container .swiper-slide .imgpart { height: 0; padding-top: 100%; background-color: #f0f0ef; position: relative; overflow: hidden; }
.stores .storecon .swiper-container .swiper-slide .imgpart img { position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
.stores .storecon .swiper-container .swiper-slide .imgpart img:first-child { width: 75%; height: 75%; }
.stores .storecon .swiper-container .swiper-slide .imgpart img:last-child { display: none; }
.stores .storecon .swiper-container .swiper-slide .imgpart:hover img:first-child { display: none;}
.stores .storecon .swiper-container .swiper-slide .imgpart:hover img:last-child { display: inline-block; }
.stores .storecon .swiper-container .swiper-slide .textwrap .storeproduct { padding-top: 1rem; font-size: 1.1rem; }
.stores .storecon .swiper-container .swiper-slide .textwrap .prices { padding-top: .7rem; }
.stores .storecon .swiper-container .swiper-slide .textwrap .prices div:first-child { font-size: 1.25rem; font-weight: 800 !important;  margin-right: .5rem; }
.stores .storecon .swiper-container .swiper-slide .textwrap .prices div:last-child { font-size: 1.25rem; font-weight: 800 !important; color: #DD0711; }

